 
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}

{% if todo.pk %}
        Edit Task
{% else %}
        New task
{% endif %}
{% endblock page_title %}

{% block content %}
   
        
        {% if todo.pk %}
                <h1>Edit task</h1>
        {% else %}
                <h1>New task</h1>
        {% endif %}

                
       
        <form method="POST">
             {% csrf_token %}
                {{form|crispy}}
         
         {% if todo.pk %}
         <button type="submit" class="btn btn-primary">Edit</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Save</button>
         {% endif %}
                      
        
       </form>
       
{% endblock content %}
        
