 {% extends 'base.html' %}

{% block page_title %}
Todo list
{% endblock page_title %}

{% block content %}
        <h1>Todo list</h1>

        
        {% if todo_list %}
          
        
          
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Created at</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                
                {% for todo in todo_list  %}
                    
              <tr>
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.created_at}}</td>
                <td>{{todo.deadline}}</td>
                <td>{{todo.finished_at|default:"-"}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-sm">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                    <a href="" class="btn btn-sm btn-success">Finish</a>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
            
            {% else %}
             <p class="alert alert-info mt-5">No todos found</p>
          {% endif %}

          <a href="{%url 'todo_create'%}" class="btn btn-primary">New task</a>
          
{% endblock content %}